* {
    background: #fff;
}

QMenuBar::item {
    background-color: #2358b0;
    border-radius: 8px;
    padding: 16px;
    color: #fff;
    margin: 4px;
}

QMenu::item {
    width: 100px;
}

#noteTitle_label {
    color: #000;
}

#noteTitle_lineEdit {
    border: 1px solid rgba(130, 130, 130, 0.86);
    border-radius: 4px;
    padding: 6px;
    color: #000;
}

#noteDescription_label {
    color: #000;
}

#noteDescription_textEdit {
    border: 1px solid rgba(130, 130, 130, 0.86);
    border-radius: 4px;
    padding: 6px;
    color: #000;
}