#OptionsDialogCreate {
    background: #fff;
}

#HeadlineLabel {
    font-size: 18px;
    color: #000;
}

#CreateNoteGroupButton {
    background: #098285;
    font-size: 16px;
    border: none;
    color: #fff;
}

#CreateNoteButton {
    background: #3a8929;
    font-size: 16px;
    border: none;
    color: #fff;
}