#OptionsDialogCreate {
    background: #fff;
}

#HeadlineLabel {
    font-size: 18px;
    color: #000;
}

#CreateNotebookButton {
    border-radius: 8px;
    background: #de6927;
    font-size: 18px;
    border: none;
    color: #fff;
}

#CreateNoteButton {
    border-radius: 8px;
    background: #2358b0;
    font-size: 18px;
    border: none;
    color: #fff;
}