#OverviewWindow {
    background: #fff;
}

#notebookManagerTitleLabel {
    font-size: 22px;
    color: #000;
}

#createButton {
    background: none;
    font-size: 18px;
    border: none;
    height: 32px;
    color: #000;
    width: 32px;
}

#statisticsTableLabel {
    color: #000;
}

#tableWidget {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.79);
}